.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    margin: 1rem 0;

    text-transform: uppercase;
    background-color: #fff;
    color: black;
}


.createItemNone {
    display: none;
}

.tableHeader input {
    padding: .25rem .5rem;
    outline: none;
}
.tableHeader input:focus {
    border: 2px solid green;
}

.col {
    font-family: Bahnschrift;
}

.col1 {
    flex-basis: 10%;
}
.col2 {
    flex-basis: 40%;
}
.col3, .col4 {
    flex-basis: 20%;
}
.col5 {
    flex-basis: 10%;
}   